* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px 20px;
    background-color: #1f2937;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.header-list {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.header-list a {
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}